---
import Layout from "@layouts/Layout.astro";
import Navigation from "@components/Navigation.astro";
import Button from "@components/Button.astro";
---

<Layout title="Kowo" description="Our services!">
    <Navigation />

    <section class="pt-32 pb-24 md:pt-48 md:pb-40 relative overflow-hidden">
        <div
            class="absolute inset-0 bg-linear-to-br from-gray-50 via-white to-gray-100/50 -z-10"
        >
        </div>
    </section></Layout
>
